.register-container {
    background-color: #02152b;
    height: 100vh;
}

.register-section{
    width: 100vw;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

.button-container{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 100px;
    position: relative;
    top: 60px;
}

a {
    text-decoration: none;
}

.form-section-create{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

.logo-create{
    width: 40px;
    position: relative;
    top: 15px;
}

.register-section-create{
    width: 100vw;
    padding: 20px;
}